@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(255, 38, 0),
        0 0 80px rgb(255, 38, 0),
        0 0 90px rgb(255, 38, 0),
        0 0 100px rgb(255, 38, 0),
        0 0 150px rgb(255, 38, 0);
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }
* {
    box-sizing: border-box;
    margin: 0s;
    padding: 0;
}
/* body style */

body {
  width: 100%;
  background-image: url('../img/nordwood-themes-9a58YsGiTPk-unsplash.jpg');
}


h1 {
    position: relative;
    z-index: 2;
    font-size: 5em;
    letter-spacing: 5px;
    text-transform: uppercase;
    transform: rotate(-10deg);
    text-shadow: 1px 1px hsl(50, 50%, 45%),
                 2px 2px hsl(50, 50%, 40%),
                 3px 3px hsl(50, 50%, 35%),
                 4px 4px hsl(50, 50%, 34%),
                 5px 5px hsl(50, 50%, 33%),
                 6px 6px hsl(50, 50%, 32%),
                 7px 7px hsl(50, 50%, 31%),
                 8px 8px hsl(50, 50%, 30%),
                 9px 9px hsl(50, 50%, 29%),
                 10px 10px hsl(50, 50%, 28%),
                 10px 10px 30px rgba(0,0,0,.7),
}

nav {
    width: 100%;
    display: flex;
    padding-bottom: 100px;
}
.navi {
    float: right;
    justify-content: space-between;
    padding-right: 20%;
    font-size: 4rem;
    font-weight: bold;
}
.container {
    justify-content: center;
}
.title {
    text-align: left;
    font-size: 4rem;
    padding-left: 200px;
    padding-top: 400px;
    font-family: neon;
    color: #FB4264;
    text-shadow: 0 0 3vw #F40A35;
    animation: flicker 1.5s infinite alternate;
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
    animation: flicker 1.5s infinite alternate;
}

.name {
    text-align: center;
    text-transform: Uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 5.5rem;
    color: white;
    text-shadow: 2px 2px rgb(137, 137, 128);
    
}

.title2 {
    text-align: right;
    font-size: 4.5rem;
    padding-right: 200px;
    font-family: neon;
    color: #426DFB;
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
}
@keyframes title {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
}